<ion-header>
  <ion-toolbar  color="header">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title tex-center color="light">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
 
<!--
  <ion-col>
    
    <ion-row> 

      <ion-img ></ion-img>
    
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/turnos">Solicitar Turno</ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" routerLink="/solicitud-presupuesto">Solicitar Presupuesto</ion-button>
      </ion-col>
    </ion-row>
   

  </ion-col>
-->
<ion-card>
  <img src="../../../assets/imgs/freddy.jpg" />
  <ion-card-header>

    
    
  </ion-card-header>

  <ion-card-content>
    Contamos con el personal y la infraestructura necesaria para desarrollar mantenimiento de vehículos livianos y pesados, con atención durante las 24hs los 365 días del año.
     De esta manera garantizamos la operatividad y seguridad de los vehículos y equipos, disminuyendo gastos y tiempo fuera de servicio; a través de un serio y responsable mantenimiento preventivo.
  </ion-card-content>
</ion-card>

</ion-content>